<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="create-groups.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
   <app-anavbar></app-anavbar>
   <body>
    <div class="container">
      <div class="title">Create a Group</div>
      <div class="content">
        <form>
          <div class="user-details">
            <div class="input-box">
              <span class="details">Group Name<span style="color: rgb(245, 59, 59);">*</span> </span>
              <input type="text"  placeholder="Enter a group name" required>
            </div>
          </div>

          <div class="button">
            <input type="submit" value="Create Group"  routerLink="/profile">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
