<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="races.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    
  </head>
  
<body>  
  <app-unavbar></app-unavbar>
  <div class="racezone"> 
    <br>
    <br>
    <br>
    <br>
    <h3 class="maintitle">My Races</h3>
    <div class="section1">
      <div class="races">
        <div class="row">
          <h5 style="text-align: left;">Registered Races</h5>
          <table class="table table-bordered mt-4 mytable">
            <tr class="table-primary mytable">
              <th>Race Name</th>
              <th>Race Number</th>
              <th>Inscription Number</th>
              <th>Type of Activity</th>
              <th>Date</th>
              <th>Route</th> 
            </tr>
          <tr *ngFor="let data of myraces">
            <th>{{data.r_name}}</th>
              <td>{{data.no_race}}</td>
              <td>{{data.no_inscription}}</td>
              <td>{{data.type}}</td>
              <td>{{data.a_date}}</td>
              <td>{{data.route}}</td>
              <td><button >View Map</button></td>
          </tr>
          </table>
        </div>
      </div> 
    </div>
    <br>

    <h3 class="maintitle">Search Races</h3>

    <div class="races">
      <img style="margin-right:10px;" type="button" src="https://cdn-icons-png.flaticon.com/512/4252/4252311.png" width="30    " alt="" >
      <input style="text-align:center ;" type="text" placeholder="Enter a race name!"> 
      <img style="margin-left:10px;" type="button" src="https://cdn-icons-png.flaticon.com/512/622/622669.png" width="30    " alt="" >
    </div>


    <div class="section2">
      <div class="races">
        <div class="row">
          <h5 style="text-align: left;">Results</h5>
          <table class="table table-bordered mt-4 mytable">
            <tr class="table-primary mytable">
              <th>Race Name</th>
              <th>Race Number</th>
              <th>Type of Activity</th>
              <th>Date</th>
              <th>Price</th>
              <th>Route</th>
              <th>Voucher</th>
              <th>Details</th> 
            </tr>
          <tr *ngFor="let data of races">
            <th>{{data.r_name}}</th>
              <td>{{data.no_race}}</td>
              <td>{{data.type}}</td>
              <td>{{data.a_date}}</td>
              <td>{{data.price}}</td>
              <td>{{data.route}}</td>
              <td><input type="file"></td>
              <td><button>Check In!</button></td>
          </tr>
          </table>
        </div>
      </div> 
    </div>

    <br>
    <br>
        
  </div>


</body>

</html> 
 