<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="inscriptions.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
<body>
  <app-anavbar></app-anavbar>
  <br>
    <br>
    <br>
    <br>
    <h3 class="maintitle">Create Group</h3>
    <div class="content">
      <form>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Group Name<span style="color: rgb(245, 59, 59);">*</span> </span>
            <input type="text"  placeholder="Enter a group name" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" value="Create Group"  routerLink="/profile">
        </div>
      </form>
    </div>

    <h3 class="maintitle">Race Management</h3>
    <div class="section2">
      <div class="challenges">
        <div class="row">
          <table class="table table-bordered mt-4 mytable">
            <tr class="table-primary mytable">
              <th>Race Name</th>
              <th>Race Number</th>
              <th>Type of Activity</th>
              <th>Date</th>
              <th>Price</th>
              <th>Route</th>
              <th>Actions</th>
            </tr>
          <tr *ngFor="let data of races">
            <th>{{data.r_name}}</th>
              <td>{{data.no_race}}</td>
              <td>{{data.type}}</td>
              <td>{{data.a_date}}</td>
              <td>{{data.price}}</td>
              <td>{{data.route}}</td>
              <td>{{data.route}}</td>
              <td><button>Confirm registration!</button></td>

          </tr>
          </table>
        </div>
      </div>
    </div>
</body>

</html>
