<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="inscriptions.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
<body>
  <app-anavbar></app-anavbar>
  <br>
    <br>
    <br>
    <br>
    <h3 class="maintitle">Create Group</h3>
    <div class="content">
      <form>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Group Name<span style="color: rgb(245, 59, 59);">*</span> </span>
            <input type="text" [(ngModel)]= "newGroup.name" [ngModelOptions]="{standalone: true}"  placeholder="Enter a group name" required>
          </div>
        </div>

        <div class="button">
          <input type="submit" (click)="addGroup(newGroup)" value="Create Group">
        </div>
      </form>
    </div>

    <h3 class="maintitle">Inscriptions Management</h3>
    <div class="section2">
      <div class="challenges">
        <div class="row">
          <table class="table table-bordered mt-4 mytable">
            <tr class="table-primary mytable">
              <th>Race Name</th>
              <th>Race Number</th>
              <th>Inscription Number</th>
              <th>Inscription Owner</th>
              <th>Type of Activity</th>
              <th>Date</th>
              <th>Voucher</th>
              <th>Actions</th>
            </tr>
          <tr *ngFor="let data of inscriptions">
              <th>{{data.raceName}}</th>
              <td>{{data.noRace}}</td>
              <td>{{data.noInscription}}</td>
              <td>{{data.user}}</td>
              <td>{{data.type}}</td>
              <td>{{data.date}}</td>
              <td><button (click)="open(content, data.voucher)" >View Voucher!</button></td>
              <td><button (click)="updateInscription(data.noInscription)">Confirm registration!</button></td>
          </tr>
          </table>
        </div>
      </div>
    </div>
</body>

<ng-template #content let-modal class="popup">
  <div>
    <img  class = "vouchersize" src="{{voucher}}">
  </div>
</ng-template>

</html>
