<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="user-dashboard.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
   <body>
    <app-unavbar></app-unavbar>
    <div class="dashboardzone">
      <br>
      <br>
      <br>
      <div class="section1" *ngFor="let data of profiledata">
        <br>
        <div class="row">
          <div class="col-1">
            <img class = "profile-pic" src={{data.image}} width="110" alt="">
          </div>
          <div class="col-8">
            <br>
            <span class="information">{{data.name}} {{data.lastname}}</span><br>
            <span class="information">Activities : {{data.activities}}</span><br>
          </div>
        </div>
      </div>
      <br>
      <div class="section2">
        <h3  style="text-align:left;"> Friends Activities</h3>
        <br>
        <div class="cards " *ngFor="let data2 of activitydata">
          <br>
          <br>
          <div class="card-info">
            <div class="row">
              <div class="col-1">
                <img class = "profile-pic" src={{data2.image}} width="100" alt="">
              </div>
              <div class="col-8">
                <br>
                <span class="c-name">{{data2.name}} {{data2.lastname}}</span><br>
                <span class="c-date">{{data2.date}} at {{data2.time}}</span>
              </div>
            </div>
            <br>
            <span class="c-activity" >Activity Type: {{data2.type}}</span> <br> <span class="c-activity"> Activity ID: #{{data2.noactivity}}</span><br>
            <br>
            <div class="row c-parameters">
              <div class="col-sm">
                <span class="c-info-title l-info"> Distance</span> <br>
                <span class="c-info l-info"> {{data2.distance}} Km</span>
              </div>
              <div class="col-sm">
                <span class="c-info-title">Altitude</span> <br>
                <span class="c-info">{{data2.altitude}} m </span>
              </div>
              <div class="col-sm">
                <span class="c-info-title">Duration</span> <br>
                <span class="c-info">{{data2.duration}} minutes </span>
              </div>
            </div>
            <br>
            <button style="margin-left: 19% ;" class="map" (click)="open(content)" > </button>
            <br>
            <br>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </body>

  <ng-template #content let-modal>
    <div class="popup">
      <div class="map">
        <app-map [mapid]="17"></app-map>
      </div>
      <button class="close cbtn" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
  </ng-template>
</html>


