@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background: linear-gradient(135deg, white, #9054dd , white);
  background-size: cover;
  height: auto;
  min-height: 100%;
}

.profilezone{
  width: 90%;
  min-height: 100%;
  height: auto;
  margin-left: 4.3%;
  border-radius: 5px;
  z-index: -10;
  justify-content: center;
  align-items: center;
  background-color: #F7F6FB;;
}

.section1{
  width: 100%;
  height: 50%;
  background-color: #9054dd;
  background-image: url("https://www.ceac.es/sites/default/files/2021-11/que-estudiar-si-me-gustan-los-deportes.jpg.webp");
  background-size: cover;
  background-position: center;


}

.section1 img {
  border-radius: 50%;
  border-color: black;
  margin-left: 4%;

}

.section2{
  width: 80%;
  height: 38%;
  margin-left: 8%;

}

.maintitle{
  color: black;
  margin-bottom: 1%;
  margin-left: 1%;
  text-align: center;
}


.races{
  color: black;
  text-align: center;


}

.mytable{
  color: black;
}

.information1{
  margin-left: 4%;
}
