<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---Referencia al archivo css que contiene el estilo--->
    <link rel="stylesheet" href="group.component.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">

   </head>
   <body>
    <app-unavbar></app-unavbar>
    <div class="challengezone">
      <br>
      <br>
      <br>
      <br>
      <h3 class="maintitle">My Groups</h3>
      <div class="section1">
        <div class="races">
          <div class="row">
            <h5 style="text-align: left;">Registered Groups</h5>
            <table class="table table-bordered mt-4 mytable">
              <tr class="table-primary mytable">
                <th>Group Name</th>
                <th>Admin Name</th>
                <th>Actions</th>
              </tr>
            <tr *ngFor="let data of mychallenges">
              <th>{{data.c_name}}</th>
              <td>{{data.no_challenge}}</td>
              <td><button>Leave Group!</button></td>
            </tr>
            </table>
          </div>
        </div>
      </div>
      <br>

      <h3 class="maintitle">Search Groups</h3>

      <div class="races">
        <img style="margin-right:10px;" type="button" src="https://cdn-icons-png.flaticon.com/512/4252/4252311.png" width="30    " alt="" >
        <input style="text-align:center ;" type="text" placeholder="Enter a group name!">
        <img style="margin-left:10px;" type="button" src="https://cdn-icons-png.flaticon.com/512/622/622669.png" width="30    " alt="" >
      </div>


      <div class="section2">
        <div class="challenges">
          <div class="row">
            <h5 style="text-align: left;">Results</h5>
            <table class="table table-bordered mt-4 mytable">
              <tr class="table-primary mytable">
                  <th>Group Name</th>
                  <th>Admin Name</th>
                  <th>Actions</th>
              </tr>
              <tr *ngFor="let data of mychallenges">
                <th>{{data.c_name}}</th>
                <td>{{data.no_challenge}}</td>
                <td><button>Join!</button></td>
            </tr>
            </table>
          </div>
        </div>
      </div>
      <br>
      <br>

    </div>


  </body>

</html>
