<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light my-navbar ">
        <div class="container-fluid">
        <a class="navbar-brand fontform" href="#" routerLink= "/dashboard">
            <img src= "https://media.discordapp.net/attachments/880202330178469899/977612033119887430/logo.png" width="150" alt="" class="d-inline-block align-middle mr-2"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a  class="nav-link active fontform" aria-current="page" href="#" routerLink="/training" >
                    <img src="https://cdn-icons-png.flaticon.com/512/1000/1000008.png" width="30" alt="" class="d-inline-block align-middle mr-2">
                    Training
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/challenges">
                    <img src="https://cdn-icons-png.flaticon.com/512/3310/3310103.png" width="28" alt="" class="d-inline-block align-middle mr-2">
                    Challenges
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/races">
                    <img src="https://cdn-icons-png.flaticon.com/512/94/94148.png" width="28" alt="" class="d-inline-block align-middle mr-2">
                    Races
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page" href="#" routerLink="/groups">
                    <img src=" https://cdn-icons-png.flaticon.com/512/633/633781.png" width="28" alt="" class="d-inline-block align-middle mr-2">
                    Groups
                </a>
            </li>

            <li class="nav-item">
                <a style="color:white;" class="nav-link active fontform" aria-current="page">
                    ________________________________________________________
                </a>
            </li>

            <li class="nav-item searchbar">
                <a class="nav-link active fontform" aria-current="page">
                    <input type="text" placeholder="Search..." [(ngModel)]="username">
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link active fontform" aria-current="page">
                    <img type="button" (click)="newUserSearch()" src="https://cdn-icons-png.flaticon.com/512/622/622669.png" width="30    " alt="" >
                </a>
            </li>

            <li class="nav-item profile-pic">
                <a class="nav-link active fontform" aria-current="page"  >
                    <img  routerLink="/profile" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__340.png" width="35" alt="" class="d-inline-block align-middle mr-2"></a>
            </li>

            </ul>
        </div>
        </div>
    </nav>
</header>
